#All Functions of List

1. # Adding Funtion

    #append(add one item at the end)

    #extend(add multiple item at the end)

    #insert(one item at desied position)

2. # Delete function

    #del (one item or multiple or whole)

    #pop (item or last one)

    #clear (do not delete whole list but clear the items)

    #remove(value deya hoy instead of index)

3. # len/min/max/sorted/sort/count/index/reverse/copy
   #sort vs sorted -- sort() function permenantly sort the list but sorted function does not do this
   
   #count()--item count. one item appears how many times

   #index()-- find the index of an item

   #reverse()--reverse list.permanently reverses the list

   #copy()--shallow copy. create another list in another memory location

   #deepcopy()--it elements the problem of nested list

## Array Vs Lists

- Fixed Vs Dynamic Size
- Convenience -> Hetrogeneous
- Speed of Execution
- Memory

## Characterstics of a List

- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python

## Creating a List

In [ ]:
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

## Accessing Items from a List

In [ ]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
#print(L[0][0][1])


# Slicing
L = [1,2,3,4,5,6]

print(L[::-1])

[6, 5, 4, 3, 2, 1]

## Adding Items to a List

In [ ]:
# append
#append function exactly add one item at the end of the list
L = [1,2,3,4,5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [ ]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [ ]:
# extend
#extend function add multiple items at the end of the list
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [ ]:
# insert
3# insert add exactly one item in a desired position
#it takes two argument(desired index position, and desired item)
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

# Editing items in a List

In [ ]:
#lists are mutable so edits are allowed
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

## Deleting items from a List

In [ ]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

del L
print(L) #because list ta delete hoye gese tai error

[1, 4]

NameError: name 'L' is not defined

In [ ]:
# remove
#remove function e argument e value deya hoy
#index jana na thakle eta use kora jay
L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [ ]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [ ]:
# clear
#clear function list delete kore na but shob item delete kore dey
L = [1,2,3,4,5]

L.clear()

print(L)

[]

## Operations on Lists

- Arithmetic
- Membership
- Loop

In [ ]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#multiplication means repetition of the list and then concatenation
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 in L1)
print(5 not in L1)
print(5 in L2) #This is interesting

True
False
False

In [ ]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

## List Functions

In [ ]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [ ]:
# count
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [ ]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [ ]:
# reverse
# permanently reverses the list
L = [2,1,5,7,0]

L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [ ]:
# sort (vs sorted)
#sort() function permenantly sort the list but sorted function does not do this
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [ ]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
140163201056112
[2, 1, 5, 7, 0]
140163201128800

## List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
l = [i for i in range(1,11)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3

[i*s for i in v]

[-6, -9, -12]

In [ ]:
# Add squares
l =[1,2,3,4]

[i**2 for i in l]

[1, 4, 9, 16]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p

languages = ['java','python','php','c','javascript']

[i for i in languages if i.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[i for i in my_fruits if i in basket if i.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
matrix = []
for j in range(1, 4):
    row = []
    for i in range(1, 4):
        row.append(i * j)
    print(row)
    matrix.append(row)

print(matrix)

[1, 2, 3]
[2, 4, 6]
[3, 6, 9]
[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
l1 = [1,2,3,4]
l2 = [5,6,7,8]

[i*j for i in l1 for j in l2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [ ]:
l =[]
for i in l1:
  for j in l2:
    num = i*j
    l.append(num)
print(l)

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

## Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

zip(L1,L2)

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [ ]:
L3 =[]
for i in range(len(L1)): # using index iteration
    num = L1[i]+L2[i]
    L3.append(num)

print(L3)

[0, 0, 0, 0]

In [ ]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f7a67452a90>>]

## Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

## List Programs

In [ ]:
# Create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6]

L1 =[i for i in L if i%2==0]
L2 =[i for i in L if i%2!=0]
print(L1)
print(L2)

[2, 4, 6]
[1, 3, 5]

In [ ]:
L1 =[]
L2 =[]

for i in L:
  if i%2==0:
    L1.append(i)
  else:
    L2.append(i)

print(L1)
print(L2)

[2, 4, 6]
[1, 3, 5]

In [ ]:
# How to take list as input from user
L =[]
for i in range(1,5):
  v = input('enter values: ')
  L.append(v)

print(L)

enter values: 1
enter values: 2
enter values: 3
enter values: 4
['1', '2', '3', '4']

In [ ]:
#Using list comprehension

L= [input('enter values') for i in range(1,5)]
print(L)

enter values1
enter values2
enter values3
enter values4
['1', '2', '3', '4']

In [ ]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]

l3= L1.copy()


for i in L2:
  l3.append(i)
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#using list comprehension
L1 = [1,2,3,4]
L2 = [5,6,7,8]

l3= L1.copy()
[l3.append(i) for i in L2]
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,3]
# replace 3 with 300

index = L.index(3)
L[index]=300
print(L)

[1, 2, 300, 4, 5, 3]

In [ ]:
# Write a program that can convert a 2D list to 1D list
L=[[1,2,3],[4,5,6]]
L1 =[]

for i in L:
  for j in i:
   L1.append(j)

print(L1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#using list comprehension
L=[[1,2,3],[4,5,6]]
L1=[]

[L1.append(j) for i in L for j in i]

print(L1)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]

for i in L:
  if L.count(i)>1:
    #remove the first occurance of the number
    del L[i]  # L.pop(i)
    L = sorted(L) #first occurance r jonno sorted dekhacchilo na tai sort kore disi

print(L)

[1, 2, 3, 4, 5]

In [ ]:
# Write a program to check if a list is in ascending order or not
#L =[1,2,3,4,5]
L =[5,4,3,2,1]
L1 = sorted(L)

if L==L1:
  print('The list is in ascending order')
else:
  print('The lis is not in ascending order ')

The lis is not in ascending order

###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [ ]:
list1 = ["M", "na", "i", "Kh", "fo"]
list2 = ["y", "me", "s", "an"]

list3 = [[i,j] for i,j in zip(list1,list2)]

if len(list1) > len(list2):
    list3.extend([[x] for x in list1[len(list2):]])
elif len(list2) > len(list1):
    list3.extend([[y] for y in list2[len(list1):]])
print(list3)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an'], ['fo'], ['su']]

In [ ]:
list1 = ["M", "na", "i", "Kh", "fo", "su"]
list2 = ["y", "me", "s", "an"]

list3=list(zip(list1,list2))
list4=[]
for i,j in list3:
  list4.append([i,j])

#rest is same
print(list4)

[['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

nested_1 = list1[2]
nested_2 = nested_1[2]
nested_3 = nested_2.insert(2,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [23]:
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

new_list =list(zip(candy_list,no_of_items))
print(new_list)

for i,j in new_list:
  print(i, '-' ,j)

[('Jelly Belly', 10), ('Kit Kat', 20), ('Double Bubble', 34), ('Milky Way', 74), ('Three Musketeers', 32)]
Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [45]:
list1 = [1,2,3,4,5,6]
new_list =[]

sum = 0
for i in list1:
  sum +=i
  new_list.append(sum)

print(new_list)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

TypeError: 'int' object is not callable

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [75]:
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

num3 =[]

for i in num1:
  for j in num2:
    if i==j:
      num3.append(i)

print(sorted(num3))

[34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [ ]:
# Write code here

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [81]:
L1 = ['CampusX is a channel', 'for data-science', 'aspirants.']
L2=[]
for i in L1:
  L2.extend(i.split())

print(L2)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [88]:
L1 = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

sentence = []
for i in L1:
  temp = "".join(i)
  sentence.append(temp)

for i in sentence:
  print(i, end=' ')

campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [109]:
L1 = ['campusxIs', 'bestFor', 'dataScientist']
L2=[]
for i in L1:
  for j in i:
    if 64<ord(j)<91:
      temp = i.split(j)
      L2.extend(temp)

print(L2)

['campusx', 's', 'best', 'or', 'data', 'cientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [ ]:
# Write code here

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [ ]:
# Write code here

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [ ]:
# Write code here

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [ ]:
# Write code here

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Write code here