# Operators in Python

- Arithmetic Operators
- Relational Operators
- Logical Operators
- Bitwise Operators
- Assignment Operators
- Membership Operators

In [ ]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

#gives integer
print(5//2)
# gives remainder*
print(5%2)
#power
print(5**2)

11
-1
30
2.5
2
1
25

In [ ]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [ ]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

2
3
1
-4
1
20

In [ ]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [ ]:
# Program - Find the sum of a 3 digit number entered by the user

num = int(input('enter a 3 digit number: '))

#remainder 345/10=34.5
a = 345%10 #a=5

number = 345//10 # number = 34 now

b = number%10 # b=4

c = number//10 # c=3
#print(c)

sum = a+b+c
print(sum)

enter a 3 digit number: 345
12

#If-Else in Python

In [ ]:
#email login problem

email = input('enter your email: ')
password = input('enter your password')

if email == 'fouziasharkar@gmail.com' and password == '123456':
  print('Welcome!')
elif email == 'fouziasharkar@gmail.com' and password!='123456':
  print('Incorrect password')
  password = input('enter password again')
  if password == '123456':
    print('Congratulations')
  else:
    print('try again')

else:
  print('Check again')

enter your email: fouziasharkar@gmail.com
enter your password123456
Welcome!

In [ ]:
# find min from 3 numbers

a = int(input('enter a number: '))
b = int(input('enter a number: '))
c = int(input('enter a number: '))

if a<b and b<c:
  print(a, 'is the smallest number')
elif c<b :
  print(c, 'is the smallest number')
else:
  print(b, 'is the smallest number ')

enter a number: 5
enter a number: 3
enter a number: 7
3 is the smallest number

# Modules in Python

- math
- keywords
- random
- datetime

In [ ]:
# math
import math

math.sqrt(196)

14.0

In [ ]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# random
import random
print(random.randint(1,100))

88

In [ ]:
# datetime
import datetime
print(datetime.datetime.now())

2022-11-08 15:50:21.228643

#Loops in Python

**While loop**

In [ ]:
#guessing game

import random

jackpot = random.randint(1,100)
guess = int(input('Guess a number: '))

count = 1
while guess != jackpot:
  if guess<jackpot:
    print('Incorrect! Guess higher.')
  else:
    print('Incorrect!Guess lower.')

  guess = int(input('Guess a number: '))

  count+=1

else:
  print('Correct guess')

print('count', count)

Guess a number: 60
Incorrect! Guess higher.
Guess a number: 80
Incorrect!Guess lower.
Guess a number: 70
Incorrect! Guess higher.
Guess a number: 75
Incorrect! Guess higher.
Guess a number: 76
Correct guess
count 5

**For Loop**

Q1. The current population of a town is 10000.The population of the town is increasing at the rate of 10% per year.You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
curr_pop = 10000

for i in range (10, 0, -1):
  print( i,'no year population', curr_pop)
  curr_pop = curr_pop// 1.1  # lets 9th year pop = x ,  x + 10% of x = 10000, so x = (10,000/1.1)

10 no year population 10000
9 no year population 9090.0
8 no year population 8263.0
7 no year population 7511.0
6 no year population 6828.0
5 no year population 6207.0
4 no year population 5642.0
3 no year population 5129.0
2 no year population 4662.0
1 no year population 4238.0

### Sequence sum

1/1! + 2/2! + 3/3! + ...

In [ ]:
n = int(input('enter n: '))

fact = 1
result = 0
for i in range (1,n+1):
  fact = fact * i
  result += i/fact

print(result)

enter n: 6
2.7166666666666663

In [ ]:
# uniq pairs

for i in range(1, 5): # i=1
  for j in range (1, 5): # j = 1,2,3,4 || ekhon second loop sesh hoye upore gelo and i=2 hoye abar loop start hobe
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

### Pattern 1


*** <br>
**** <br>
***<br>

In [ ]:
rows = int(input('enter row number: '))

for i in range(1, rows+1): # i=1
  for j in range (1, i+1): # j=1
    print('*', end='')
  print()

enter row number: 3
*
**
***

### Pattern 2
1<br>
121<br>
12321<br>
1234321<br>

In [ ]:
rows = int(input('enter row number: '))

for i in range (1, rows+1):
  for j in range (1,i+1):
    print(j, end='')
  for k in range (i-1,0,-1):
    print(k, end='')
  print()

enter row number: 5
1
121
12321
1234321
123454321

Break condition in loop

In [ ]:
# finding prime numbers in a range

l = int(input('enter the lower number: '))
u = int(input('enter the upper number: '))

for i in range(l,u+1): #range
  for j in range(2,i): # condition for prime number #1 and i exclude kore dise. so ei duita chara konota vag gelei oita prime na
   if i%j == 0:
    break

  else:
    print(i)

enter the lower number: 10
enter the upper number: 50
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
# continue skips the current iteration and move forward to the next iteration
# Continue
for i in range(1,10):
  if i == 5: #like here except 5 everything will be printed
    continue
  print(i)

1
2
3
4
6
7
8
9

<h1>Tasks

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
salary = int(input('enter your salary: '))

deduction = 18 #ctc+DA+PF
new_salary = None
if salary < 500000:
  tax_percentage = 0
elif salary >= 500000 and salary <1000000:
  tax_percentage = 10
elif salary >= 1000000 and salary<2000000:
  tax_percentage = 20
else:
  tax_percentage = 30

deduction = deduction + tax_percentage
new_salary = salary - ((salary*deduction)/100)
print(new_salary)

enter your salary: 500000
360000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# To make a triangle there are three conditions:
# 1. All angles are greater than zero
# 2. sum of three angles should be 180
# 3. Sum of any two angles should be greater than the third angle

a = float(input('enter a number: '))
b = float(input('enter a number: '))
c = float(input('enter a number: '))

sum = a+b+c

if  a>0 and b>0 and c>0:
  if sum == 180 and a+b>c and b+c>a and a+c>b:
    print('It is a triangle')
  else:
    print('It is not a triangle')
else:
  print('Invalid input')

enter a number: 0
enter a number: 100
enter a number: 80
Invalid input

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
cost = float(input('enter a number: '))
sell = float(input('enter a number: '))

if cost>sell:
  print ('It is a loss')
elif cost == sell:
  print('Tie')
else:
  print('It is a profit')


#Another solution
cost_price = float(input('Enter the cost price: '))
selling_price = float(input('Enter the selling price: '))

# Calculate profit or loss
profit_or_loss = selling_price - cost_price

if profit_or_loss > 0:
    print('Profit of', profit_or_loss)
elif profit_or_loss < 0:
    print('Loss of', -profit_or_loss)
else:
    print('No profit, no loss.')

enter a number: 50
enter a number: 100
It is a profit
Enter the cost price: 50
Enter the selling price: 100
Profit of 50.0

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
print("\nMenu:")
print("1. Convert centimeters to feet")
print("2. Convert kilometers to miles")
print("3. Convert USD to INR")
print("4. Exit")
print()
while True:
    n = int(input('enter a number: '))

    if n == 1:
      cm = float(input('enter a number: '))
      ft = cm / 30.48 #cm-ft
      print(ft)
      #break
    elif n==2:
      k = float(input('enter a number: '))
      m = k * (0.621371) #km-mile
      print(m)
      #break
    elif n==3:
      usd = float(input('enter a number: '))
      inr = usd * (83.49) #usd to inr
      print(inr)
      #break
    elif n==4:
      print('please click exit button')
      break
    else:
      print('Invalid Input. Please enter a valid option 1/2/3/4')

Menu:
1. Convert centimeters to feet
2. Convert kilometers to miles
3. Convert USD to INR
4. Exit

enter a number: 5
Invalid Input. Please enter a valid option 1/2/3/4
enter a number: 4
please click exit button

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
f1 =0
f2 = 1
print(f1, end=',')
print(f2, end=',')
for i in range (8): # range 8 means 0-7 thats why it printed 8 terms
  next = f1+f2 # next term
  #this if else condition is given to avoid , at the end of the last number
  if i<7:
    print (next, end=',')
  else:
    print(next)
  f1 = f2 #f1 update
  f2 = next #f2 update

0,1,1,2,3,5,8,13,21,34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
n = int(input('enter a number: '))

factorial = 1
for i in range (1,n+1):
  factorial*=i
print(factorial)

enter a number: 1
1

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
n = input('enter a number: ')
number = int(n)

count = 0
for i in n:
  count+=1
#print(count)

for _ in range (count):
  r = number%10 #remove the last digit

  c = number//10 #extract the last digit

  number = c

  print(r, end='')

enter a number: 123456
654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
def calculate_sum(N):
    if N < 1:
        return 0

    total_sum = 0
    current_number = 1

    while current_number <= N:
        if current_number % 5 != 0:
            total_sum += current_number

        if total_sum > 300:
            break

        current_number += 1

    return total_sum

# Taking user input
N = int(input("Enter a number: "))

# Calculating and printing the result
result = calculate_sum(N)
print("The sum from 1 to", N, "skipping multiples of 5 and stopping when sum exceeds 300 is:", result)

Enter a number: 30
The sum from 1 to 30 skipping multiples of 5 and stopping when sum exceeds 300 is: 303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
sum = 0
count = 0
avg = 0
while True:
  n = int(input('enter a number'))
  if n==0:
    break
  sum += n
  count+=1
  avg = sum/count


  i+=1
print(sum)
print(avg)

enter a number20
enter a number30
enter a number40
enter a number0
90
30.0

###`Problem 10`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
      print(i, end=',')
# to avoid comma at the end of the last number
#     if i != 3199:
#       print(',', end='')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 11`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
for num in range(1000, 3001):
    if all(int(i) % 2 == 0 for i in str(num)):
        print(num, end=' ')

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 12`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
import math
# input taking
x = int(input('enter x cordinate: '))
y = int(input('enter y cordinate: '))

# current position
c1 =0
c2 = 0

#formula
distance = math.sqrt((x-c)*2+ (y-c)*2)

###`Problem 13`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 14`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here