<a href="https://colab.research.google.com/github/fouziasharkar/Python-Code/blob/main/Day1(python_fundamentals).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('hello', 1, 2, True, sep='/')

hello/1/2/True

In [ ]:
print('hello', end='-') #end and \n is similar which means line change
print('world')

hello-world

In [ ]:
#type function tells the type of the data
type(3)

int

In [ ]:
#dynamic typing - which means python e variable create korar shomoy bolte hoy na eta kon type r variable
a = 5
print(a)
#static typing - bole dite hoy data type
#int b = 6

# Dynamic binding
a = 5
print(a)

a = 'Fouzia'
print(a)

5
5
Fouzia

In [ ]:
float(10)

10.0

#Literals

In [ ]:
a = 0b1010 #binary literals
b = 100 #Decimal literals
c = 0o310 #Octal literals
d = 0x12c #Hexadecimal literal

#Float literal
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-2

#Complex literal
x=3.14j

print(a,b,c,d)
print(x, x.imag, x.real)

10 100 200 300
3.14j 3.14 0.0

# Session 1 Tasks

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print('Data', end='-')
print('Science', end='-')
print('Mentorship', end='-')
print('Program', end='-')
print('By', end='-')
print('CampusX')

print('Data', 'Science', 'Mentorship', 'Program', 'By', 'CampusX', sep='-')

Data-Science-Mentorship-Program-By-CampusX
Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
c = float(input('enter a num: '))

#formuna celsius to farenheit

f = (9/5)*c + 32
print(f)

enter a num: 10.5
50.900000000000006

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
#Take two inputs from users
a = int(input('Enter a number: '))
b = int(input('Enter a number: '))
# swap numbers
c = a
a = b
b = c

print('a:',a,'b:',b)

Enter a number: 10
Enter a number: 20
a: 20 b: 10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
x1= float(input('Enter a number: '))
x2 = float(input('Enter a number: '))
y1 = float(input('Enter a number: '))
y2 = float(input('Enter a number: '))

#equation
diff1 = (x2-x1)**2
diff2= (y2-y1)**2

result =(diff1+diff2)**0.5

print(result)

Enter a number: 30
Enter a number: 20
Enter a number: 20
Enter a number: 10
14.142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
principal= float(input('Enter a number: '))
rate = float(input('Enter a number: '))
time = float(input('Enter a number: '))

#formula
interest = (principal*rate*time)/100

print(interest)

Enter a number: 1000
Enter a number: 5
Enter a number: 3
150.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
total_heads = int(input('enter heads number:' ))
total_legs = int(input('enter legs number:' ))

#total heads
#total heads = 1*dog + 1* chicken
# so, dog = total heads - chicken
# total legs = 4* dogs + 2* chicken
# total legs = 4*(total heads - chicken)+2*chicken
#            = 4total head - 4chicken +2chicken
#            = -2 chicken + 4 total heads
# chicken = (total legs - 4 total heads)/-2

chicken = (total_legs - 4*total_heads)/-2

dog = total_heads - chicken

print('dogs', dog, 'chicken', chicken)

enter heads number:4
enter legs number:12
dogs 2.0 chicken 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
num = int(input('enter a number: '))

# formula
sum = ((num*(num+1))*(2*num+1))/6

print('sum: ', sum)

enter a number: 10
sum:  385.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
x1= float(input('Enter a number: '))
x2 = float(input('Enter a number: '))
n = int(input('enter a number: '))

#arethmetic series means (+/-) between numbers : 3,7,11,15... (3+4=7, 7+4=11....) so, d=4
d = x2-x1

#formula of nth term of arethmetic series
xn = x1+(n-1)*d
print(xn)

Enter a number: 5.5
Enter a number: 10.5
enter a number: 4
20.5

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
#first fraction number
num1 = int(input('enter a number: '))
den1 = int(input('enter a number: '))

#second fraction number
num2 = int(input('enter a number: '))
den2 = int(input('enter a number: '))

# common denominator
cd = den1*den2

# common numerators
new_num1 = (cd/den1)*num1
new_num2 = (cd/den2)*num2
sum = new_num1 + new_num2

print(sum, '/', cd)

enter a number: 1
enter a number: 2
enter a number: 1
enter a number: 3
5.0 / 6

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
#milk tank input
H1 = float(input('enter a num: '))
L = float(input('enter a num: '))
B = float(input('enter a num: '))

#glass input
h2 = float(input('enter a num: '))
r = float(input('enter a num: '))

# Milk tank volume
mv = H1*L*B
#print(mv)
# Glass volume
gv = 3.1416* r*r *h2
#print(gv)

#result
print(int(mv/gv))

enter a num: 30
enter a num: 20
enter a num: 15
enter a num: 10
enter a num: 3
31