### `Problem-1:` Breaking the records.

Maria plays college basketball and wants to go pro. Each season she maintains a record of her play. She tabulates the number of times she breaks her season record for most points and least points in a game. Points scored in the first game establish her record for the season, and she begins counting from there.

**Example**

*scores = [12, 24, 10, 24]*

Scores are in the same order as the games played. She tabulates her results as follows:

| Game | Score | Minimum | Maximum | Count Min | Count Max |
| :--: | :--: | :--: | :--: | :--: | :--: |
| 0 | 12 | 12 | 12 | 0 | 0 |
| 1 | 24 | 12 | 24 | 0 | 1 |
| 2 | 10 | 10 | 24 | 1 | 1 |
| 3 | 24 | 10 | 24 | 1 | 1 |

Given the scores for a season, determine the number of times Maria breaks her records for most and least points scored during the season.

**Function Description**

Complete the breakingRecords function in the editor below.

breakingRecords has the following parameter(s):
- n: no of games
- int scores[n]: points scored per game

**Returns**

- int[2]: An array with the numbers of times she broke her records. Index 0 is for breaking most points records, and index 1 is for breaking least points records.

**Input Format**

n, the number of games.
Integers array osf scores describing the respective values of $score_0, score_1, score_2, ..., score_{n-1}$.

**Constraints**

- $1 <= n <= 1000$
- $0 <= scores[i] <= 10^8$

**Sample Input 0**

```bash
10 5 20 20 4 5 2 25 1
```

**Sample Output 0**

```bash
2 4
```

**Explanation 0**

The diagram below depicts the number of times Maria broke her best and worst records throughout the season:

| Games | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 |
| :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: | :--: |
| **Score** | 10 | 5 | 20 | 20 | 4 | 5 | 2 | 25 | 1 |
| **Highest Score** | 10 | 10 | **20** | 20 | 20 | 20 | 20 | **25** | 25 |
| **Lowest Score** | 10 | **5** | 5 | 5 | **4** | 4 | **2** | 2 | **1** |

She broke her best record twice (after games 2 and 7) and her worst record four times (after games 1, 4, 6, and 8), so we print 2 4 as our answer. Note that she did not break her record for best score during game 3, as her score during that game was not strictly greater than her best record at the time.

In [ ]:
def breakingRecords(n,score):

  max_count = 0 #1+1
  min_count = 0 #1+1+1+1
  temp = score[0]
  a = temp
  b = temp

  for i in score:
    if i > a:
      max_count+=1
      a = i
    if i<b:
      min_count+=1
      b=i
  print(max_count,min_count)



scores = [10, 5, 20, 20, 4, 5, 2, 25, 1]
n=len(scores)
result = breakingRecords(n, scores)
#print(result)

2 4